---
- include_tasks:        'tasks/common/create_files.yml'
- include_tasks:        'tasks/common/install_packages.yml'
- include_tasks:        'tasks/common/unpack_tarballs.yml'
- include_tasks:        'tasks/common/scripts.yml'
- include_tasks:        'tasks/common/commands.yml'
  when:                 scripts_result.changed
- include_tasks:        'tasks/common/install_files.yml'
- include_tasks:        'tasks/common/symlinks.yml'
- include_tasks:        'tasks/common/adjust_files.yml'
  vars:
    adjust_files:       "{{ adjust_files_insecure }}"
  when:                 "'insecure' in group_names"
- include_tasks:        'tasks/common/lines_in_files.yml'
- include_tasks:        'tasks/common/known_hosts.yml'
